.artist-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensures the card takes full width */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.artist-card:hover {
  background-color: #282828;
}

.artist-image {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* This ensures the image will be a circle */
  margin-right: 15px;
}

.artist-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}
