.track-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #181818;
  border-radius: 8px; /* Keep tracks as rounded squares */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Ensures the card takes full width */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.track-card:hover {
  background-color: #282828;
}

.track-image {
  width: 60px;
  height: 60px;
  border-radius: 8px; /* Ensure track images are squares */
  margin-right: 15px;
  object-fit: cover; /* Ensure proper fit for album artwork */
}

.track-info {
  flex-grow: 1;
}

.track-name {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.track-artist {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0;
}

.track-duration {
  font-size: 14px;
  color: #b3b3b3;
  margin-left: 20px;
}

.artist-link {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.3s ease;
}

.artist-link:hover {
  color: #1db954; /* Spotify green */
  text-decoration: underline;
}
